<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AngularJS - Lesson 6</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script src="assets/angular.js"></script>
    <script src="nested-repeat.js"></script>
</head>

<body ng-app="app">
    <div ng-controller="nestedRepeatController">
        <li ng-repeat="country in countries" ng-init="parentIndex = $index">
            {{country.name}} - Index {{$index}}
            <ul>
                <li ng-repeat="city in country.cities">
                    {{city.name}} - Index {{$index}} - Parent Index {{$parent.$index}} - Parent Init {{parentIndex}}
                </li>
            </ul>
        </li>
    </div>
</body>

</html>